{% extends 'base.html' %}

{% block content %}
<div class="content2">
    <a href="../description" class="taskbar_2"><h1 style="color: red;">제 1장으로 돌아가기</h1></a>
    <h1>지세지세 서버 소개 제 2장 - 규칙</h1>
    <h2>여기는 제 2장 - 규칙입니다!</h2>
    <h3>이제 부터 규칙을 알려드리겠습니다!</h3>
    <br>
    <ol type="1">
        <li>서로 상의가 되지 않은 PvP를 할시 30분 밴</li>
        <li>다른사람 건축물 손상시 10분 밴</li>
        <li>서버 관리인한태 1000원당 1시간 밴 해드립니다</li>
        <li>10시간 이상 밴 하시면 1000원 할인들어갑니다</li>
    </ol>
    <br><br><br><br><br><br><br>
    <a href="/" class="taskbar_2">
        <h1 style="color: red;">
            메인으로 가기
        </h1>
    </a>
</div>
{% endblock %}