<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="static/rule/rule.css">
    <script src="static/rule/rule.js" defer></script>
    <link rel="icon" href="static/asset/img/logo/icon.png"/>
    <link rel="apple-touch-icon" href="static/asset/img/logo/icon.png"/> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>임페리움 야생 서버 제 2장 - 규칙</title>
</head>
<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
    <div class="container">
        <div class="content">
            <ul class="taskbar">
                <li class="line" onclick="location.href='index.html'>
                <img src="static/asset/img/logo/icon.png">
                </li>
                <li class="line">
                    <div class="menu">
                        <div class="visible" key="0">
                            <h2 class="taskbar_1">
                                <a href="..">메인</a>
                            </h2>
                            
                            <h2 class="hidden" key="0">
                                <a href="leaderboard" class="taskbar_1">리더보드</a>
                            </h2>
                            <h2 class="hidden" key="0">
                                <a href="build_ranking" class="taskbar_1">건물 순위</a>
                            </h2>
                            
                        </div>
                    </div>
                    <div class="menu">
                        <div class="visible" key="1">
                            <h2 class="taskbar_1">
                                <a href="">전시실</a>
                            </h2>
                            
                            <h2 class="hidden" key="1">
                                <a href="gallery">갤러리</a>
                            </h2>

                            
                        </div>
                    </div>
                    <div class="menu">
                        <div class="visible" key="2">
                            <h2 class="taskbar_1">
                                <a href="">이서버란</a>
                            </h2>
                            
                            <h2 class="hidden" key="2">
                                <a href="description" class="taskbar_1">설명</a>
                            </h2>
                            <h2 class="hidden" key="2">
                                <a href="rules" class="taskbar_1">규칙</a>
                            </h2>
                            
                        </div>
                    </div>
                    <div class="menu">
                        <h2 class="taskbar_1">
                            <a href="login">로그인</a>
                        </h2>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content2">
            <a href="description" class="taskbar_2"><h1 style="color: red;">제 1장으로 돌아가기</h1></a>
            <h1>지세지세 서버 소개 제 2장 - 규칙</h1>
            <h2>여기는 제 2장 - 규칙입니다!</h2>
            <h3>이제 부터 규칙을 알려드리겠습니다!</h3>
            <ol>
                <h3><li>서로 상의가 되지 않은 PvP를 할시 30분 밴</li></h3>
                <h3><li>다른사람 건축물 손상시 10분 밴</li></h3>
                <h3><li>만약 신고 해도 안받아 준다면 1000원에 1시간 밴 해드립니다다</li></h3>
                <h3><li>끝</li></h3>
                <h3><li>끝이라고</li></h3>
            </ol>
            <h3>진짜 끝</h3>
            <br><br><br><br><br><br><br>
            <a href=".." class="taskbar_2"><h1 style="color: red;">메인으로 가기</h1></a>
        </div>
    </div>
</body>
</html>
