<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <link rel="stylesheet" href="static/main/main.css">
    <script src="static/main/main.js" defer></script>
    <link rel="icon" href="static/asset/img/logo/icon.png"/>
    <link rel="apple-touch-icon" href="static/asset/img/logo/icon.png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>임페리움 야생 서버 메인</title>
    
</head>
<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
    
    <div class="container">
        <div class="content">
            <ul class="taskbar">
                <li class="line" onclick="location.href='index.html'>
                <img src="static/asset/img/logo/icon.png">
                </li>
                <li class="line">
                    <div class="menu">
                        <div class="visible" key="0">
                            <h2 class="taskbar_1">
                                <a href="">메인</a>
                            </h2>
                            
                            <h2 class="hidden" key="0">
                                <a href="leaderboard" class="taskbar_1">리더보드</a>
                            </h2>
                            <h2 class="hidden" key="0">
                                <a href="build_ranking" class="taskbar_1">건물 순위</a>
                            </h2>
                            
                        </div>
                    </div>
                    <div class="menu">
                        <div class="visible" key="1">
                            <h2 class="taskbar_1">
                                <a href="">전시실</a>
                            </h2>
                            
                            <h2 class="hidden" key="1">
                                <a href="gallery">갤러리</a>
                            </h2>

                            
                        </div>
                    </div>
                    <div class="menu">
                        <div class="visible" key="2">
                            <h2 class="taskbar_1">
                                <a href="">이서버란</a>
                            </h2>
                            
                            <h2 class="hidden" key="2">
                                <a href="description" class="taskbar_1">설명</a>
                            </h2>
                            <h2 class="hidden" key="2">
                                <a href="rules" class="taskbar_1">규칙</a>
                            </h2>
                            
                        </div>
                    </div>
                    <div class-menu>
                        <h2 class="taskbar_1">
                            <a href="login">로그인</a>
                        </h2>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content3">
            <h1>서버 주소</h1>
            <h2>host.wltp.world</h2>
        </div>
        <div class="content2">
            <h1>서버 화리있는 인간들</h1>
            <div class="players">
                <a href="https://ko.namemc.com/profile/WLTP.1" target="_blank" class="player"><img src="static/asset/img/skins/wltp.png"/></a>
                <a href="https://ko.namemc.com/profile/DAN_NYANG.1" target="_blank" class="player"><img src="static/asset/img/skins/Dan_nyang.png"/></a>
                <a href="https://ko.namemc.com/profile/pingnny.1" target="_blank" class="player"><img src="static/asset/img/skins/pingnny.png"/></a>
                <a href="https://ko.namemc.com/profile/IIico.2" target="_blank" class="player"><img src="static/asset/img/skins/iiico.png"/></a>
            </div>
            
            <h1>누르면 플레이어의 namemc 링크로 이동</h1>
        </div>

    </div>
</body>
</html>