{% extends 'base.html' %}
{% block content %}
<div class="content2">
    <a href="/" class="taskbar_2"><h1 style="color: red;">메인으로 가기</h1></a>
    <h1>임페리움 야생 서버 소개 제 1장 - 소개</h1>
    <h2>여기는 제 1장 - 소개입니다!</h2>
    <ol>
        <il><h3>그러므로 여기서 소개를 시작하겠습니다!</h3></il>
        <il><h3>먼저 여기는 지세, 핑니, 단냥, 2c코가 하는 서버입니다!</h3></il>
        <il><h3>이 서버의 주제는 건축 + 야생 입니다!</h3></il>
        <il><h3>서버 주소는 host.wltp.world입니다! PC도 들어올수있고</h3></il>
        <il><h3>폰, 닌텐도, 플스 등등도 들어오실 수 있습니다!</h3></il>
        <il><h3>근데 화리는 안 넣어드립니다.</h3></il>
        <il><h3>그럼 제 2장으로 가주세요!</h3></il>
    </ol>
    <br><br>
    <a href="../rules" class="taskbar_2"><h1 style="color: red;">제 2장으로 가기</h1></a>
</div>
{% endblock %}